<h2><%=h @textfile.filepath %></h2>

<% form_for(@textfile) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :content %><br />
    <%= f.text_area :content, :cols => 80 %>
  </p>
  <p>
    <%= f.label :accessed_at %><br />
    <%= f.datetime_select :accessed_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>Remember, this will change the file on the filesystem!</p>

<%= link_to 'Show', @textfile %> |
<%= link_to 'Delete Textfile entry from Database', @textfile, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Show All', textfiles_path %>