<h2><%=h @textfile.filepath %></h2>

<% form_for(@textfile) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :content %><br />
    <%= f.text_area :content, :cols => 80 %>
  </p>
  <p>
    <%= f.label :accessed_at %><br />
    <%= f.datetime_select :accessed_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @textfile %> |
<%= link_to 'Back', textfiles_path %>