<h2><%=h @textfile.filepath %></h2>
<% case File.extname(@textfile.filepath) %>
<% when /md|markdown/i %>
	<%= BlueCloth.new(@textfile.content).to_html.html_safe %>
<%  when /rdoc/i %>
	<%= RDoc::Markup::ToHtml.new.convert(@textfile.content).html_safe %>
<%  when /textile/i %>
	<%= RedCloth.new(@textfile.content).to_html.html_safe %>
<% when /rtf/i %>
	<% str = '' %>
	<%= puts RubyRTF::Parser.new.parse(@textfile.content).sections.each {|s| puts format(str, s)} %>
	<%= str.html_safe %>
<% else %>
	<pre class="code"><%= @textfile.content.html_safe %></pre>
<% end %>

<p style="color: #666; font-size: 12px;">Owned by: <%=h @textfile.owner %> | Modified at: <%=h @textfile.modified_at %> | Accessed at: <%=h @textfile.accessed_at %></p>

<%= link_to "Back", :back %> |
<%= link_to 'Edit', edit_textfile_path(@textfile) %> |
<%= link_to 'Show All', textfiles_path %>