<h2><%=h @textfile.filepath %></h2>
<%= RedCloth.new(@textfile.content).to_html %>

<p style="color: #666; font-size: 12px;">Owned by: <%=h @textfile.owner %> | Accessed at: <%=h @textfile.accessed_at %></p>

<%= link_to 'Edit', edit_textfile_path(@textfile) %> |
<%= link_to 'Show All', textfiles_path %>