<!DOCTYPE html>  

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WADRC Textfile Search - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %> 
</head>
<body>

<div id="main-container">
	<%= render :partial => 'layouts/header' %>
	<div id="content">
		<% unless flash.empty? %>
			<div id="flash">
	      <% flash.each do |key, msg| %>
	      <%= content_tag :p, msg, :class => key %>
	      <% end %>
	    </div>
		<% end %>
	  <%= yield %>
	</div>
</div>

</body>
</html>
